{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "plugins": ["prettier-plugin-tailwindcss"],
  "printWidth": 80,
  "singleAttributePerLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "endOfLine": "lf"
}